
.wrap {
	max-width: 75rem;
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 0;
	padding-right: 0;
}

// header

header {
    padding-left: 9%;
	background-position:.3% 90%;
    background-size:175px;
	padding-bottom: .5%;
	padding-top: 6%;

h1 {
	font-size:2.3rem;
	letter-spacing:.3rem;
}
h2 {
	font-size: 1rem;
}
}



nav ul.menu {
	max-width: 75rem;} 

nav ul.menu li:not(:first-child):before {
    content: " | ";
}

nav ul.menu li:first-child {
    padding-left: .7rem;
}

nav ul.menu li {
	border-right: none;
	padding: .8rem .5rem .8rem 0rem;
	width: auto; 
}



.robot {
	width: 30%;
}

