/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// body

body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
  background-color: #fff;
}

.wrap {
  padding-left: 1.3%;
  padding-right: 1.3%;
}

// header

header {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $primaryColor;
  padding-left: 11%;
  background-image: url(../images/sciencelogorounded.png);
  background-repeat: no-repeat;
  background-position: 1.9% 60%;
  background-size: 90px;
  padding-top: 2%;

  h1 {
    color: $secondaryColor;
    padding: 3.5rem 0 0rem 4rem;
    font-size: 1.6rem;
    text-shadow: 0.5px 0.5px 0px #f6f6f6;
    margin-left: 1.5%;
    letter-spacing: 0.3rem;
    font-family: "Titillium Web", sans-serif;
  }
  h2 {
    visibility: hidden;
    color: #efefef;
    padding: 0 0 0.3rem 2rem;
    margin: -1% 0 0 0;
    font-size: 1rem;
    letter-spacing: 0.262rem;
    text-shadow: 0.5px 0.5px 0px #f6f6f6;
    margin-left: 2.5%;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
  }
}

// nav

nav {
  background-color: #111;
  display: flex;

  ul.menu {
    margin-left: auto;
    margin-right: auto;
  }

  ul.menu li {
    float: left;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    color: #fff;
    letter-spacing: 1.6px;
    list-style-type: none;
    // display: inline;
    border: 1px solid #333;
    text-align: center;
    flex-wrap: wrap;
    width: 50%;
  }

  ul.menu li a {
    display: block;
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-weight: 600;
  }

  ul.menu li.active {
    background-color: $secondaryColor;
    color: #000;
    font-weight: 800;
  }
 
}

// main

main {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 2rem;
    margin-top: 2%;
    color: $primaryColor;
  }

  p {
    font-size: 1.1rem;
    line-height: 130%;
    margin: 0.9rem 0;
  }
}

div.hero img {
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 0;
  margin-top: 2%;
}

.robot {
  width: 100%;
}

.keepopen {
  clear: both;
}
